@import './reset';

:root {
    --transition-speed: 400ms;
    --transition-easing: cubic-bezier(0.26, 0.87, 0.52, 1);

    --button--background-color: #333;
    --button--background-color--hover: #444;
}

html, body {
    width: 100%;
    height: 100%;

    color: #e8e6e3;
    background-color: #181a1b;
}

input[type=text] {
    padding: 0.3em 0.4em;

    border: 1px solid #888;
    border-radius: 4px;
    color: #ddd;
    background-color: #222;

    &:focus {
        background-color: #333;
    }
    &.invalid {
        background-color: #650b0b;
    }
}

button {
    padding: 0;

    cursor: pointer;

    color: #ddd;
    background-color: var(--button--background-color);

    border: 0;
    border-radius: 4px;

    &:hover {
        background-color: var(--button--background-color--hover);
    }
}

.rangeSlider {
    font-size: 0.7em;


    &.hoverable:not(.disabled) .rangeHandle:hover::before {
        box-shadow: 0 0 0 4px var(--handle-border);
    }

    &.hoverable:not(.disabled) .rangeHandle.press::before,
    &.hoverable:not(.disabled) .rangeHandle.press:hover::before {
        box-shadow: 0 0 0 4px var(--handle-border);
    }


    --slider: #666;
    --handle-inactive: #888;
}
