<script lang="ts">
    import { createEventDispatcher } from 'svelte';
    import RangeSlider from 'svelte-range-slider-pips';

    export let label: string;
    export let min = 0.0;
    export let max = 1.0;
    export let step = 0.001;
    export let value;
    export let colorBox: string|boolean = false;
    export let formatter: Function = format;

    $: values = [ value ];
    $: colorBoxDisplay = colorBox === false ? 'none' : 'inline-block';
    $: colorBoxVisibility = colorBox === 'hidden' ? 'hidden' : 'visible';
    $: colorBoxColor = typeof colorBox === 'string' && colorBox !== 'hidden' ? colorBox : 'black';

    const dispatcher = createEventDispatcher();

    function change(ev) {
        value = ev.detail.value;
        dispatcher('change', { value });
    }

    function format(value) {
        if (min === 0.0 && max === 1.0) {
            return `${Math.round(value * 100)} %`;
        } else {
            return value;
        }
    }
</script>

<div class="main">
    <span class="label">{label}</span>
    <div
        class="color-box"
        style:visibility={colorBoxVisibility}
        style:display={colorBoxDisplay}
        style:background-color={colorBoxColor}
    ></div>
    <RangeSlider
        min={min}
        max={max}
        step={step}
        float
        springValues={{ stiffness: 1, damping: 1 }}
        formatter={formatter}
        on:change={change}
        bind:values={values}
    />
</div>

<style lang=scss>
    .main {
        display: flex;
        align-items: center;

        .label {
            position: relative;
            width: 0.8em;

            font-family: sans-serif;
            user-select: none;
        }

        .color-box {
            --size: 15px;
            width: var(--size);
            height: var(--size);
            margin-left: 3px;
            border-radius: 4px;
        }

        :global(.rangeSlider) {
            flex-grow: 1;
        }
    }
</style>
