<script lang="ts">
    import { Color } from '../util/color';
    import ColorComponent from './ColorComponent.svelte';
    import TextInput from './TextInput.svelte';
    import { createEventDispatcher } from 'svelte';

    export let color: Color;

    let validHexColor = true;
    let dispatcher = createEventDispatcher();

    function updateFromRgb() {
        color.updateFromRgb();
        dispatcher('update');
    }

    function updateFromHsl() {
        color.updateFromHsl();
        dispatcher('update');
    }

    function updateFromHex() {
        validHexColor = color.updateFromHex();
        dispatcher('update');
    }
</script>

<div class="component-groups">
    <div class="component-group">
        <ColorComponent
            label="R"
            min={0}
            max={255}
            step={1}
            bind:value={color.r}
            on:change={updateFromRgb}
            colorBox={`rgb(${color.r}, 0, 0)`}
        />
        <ColorComponent
            label="G"
            min={0}
            max={255}
            step={1}
            bind:value={color.g}
            on:change={updateFromRgb}
            colorBox={`rgb(0, ${color.g}, 0)`}
        />
        <ColorComponent
            label="B"
            min={0}
            max={255}
            step={1}
            bind:value={color.b}
            on:change={updateFromRgb}
            colorBox={`rgb(0, 0, ${color.b})`}
        />
    </div>

    <div class="component-group">
        <ColorComponent
            label="H"
            bind:value={color.h}
            on:change={updateFromHsl}
            colorBox={`hsl(${color.h}turn, 50%, 50%)`}
            formatter={value => `${Math.round(value * 360)}°`}
        />
        <ColorComponent
            label="S"
            bind:value={color.s}
            on:change={updateFromHsl}
            colorBox="hidden"
        />
        <ColorComponent
            label="L"
            bind:value={color.l}
            on:change={updateFromHsl}
            colorBox={`rgb(${color.l * 255}, ${color.l * 255}, ${color.l * 255})`}
     />
    </div>

    <div class="component-group">
        <TextInput
            bind:valid={validHexColor}
            bind:value={color.hex}
            on:input={updateFromHex}
            style="font-family: monospace"
        />
    </div>
</div>

<style lang=scss>
    .component-groups {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .component-group {
            display: flex;
            flex-direction: column;
            width: 200px;
        }
    }
</style>
