<script lang="ts">
    import { Color } from '../util/color';
    import Popup from './Popup.svelte';
    import ColorChooser from './ColorChooser.svelte';

    export let color: Color;
    export let editable: boolean = false;
    export let margin: number = 10;

    let popupTarget;
    let popup: Popup;
    let edit: boolean;

    export function startEdit() {
        popup.open();
    }
</script>

<div class="color-box" class:editable class:edit>
    <div
        class="outer for-popup"
        bind:this={popupTarget}
        style:--margin={margin}
    >
        <div
            class="inner for-popup"
            style:--red={color.r}
            style:--green={color.g}
            style:--blue={color.b}
        ></div>
    </div>

    <div
        class="outer"
        on:click={startEdit}
        style:--margin={margin}
    >
        <div
            class="inner"
            style:--red={color.r}
            style:--green={color.g}
            style:--blue={color.b}
        ></div>
    </div>

    {#if editable}
        <Popup
            bind:this={popup}
            getTarget={() => popupTarget}
            bind:visible={edit}
        >
            <ColorChooser bind:color={color} on:update />
        </Popup>
    {/if}
</div>

<style lang=scss>
    :global(:root) {
        --color-box--size: 30px;
        --color-box--border-width: 2px;
    }

    .color-box :global(.popup) {
        border-top-left-radius: 0;
    }

    .outer {
        --margin: 0;

        display: inline-block;
    }

    .outer.for-popup {
        --margin-px: calc(var(--margin) * 1px);
        visibility: hidden;
        position: absolute;
        padding: var(--margin-px);
        transform: translate(calc(-1 * var(--margin-px)), calc(-1 * var(--margin-px)));

        border-top-left-radius: var(--popup-border-radius);
        border-top-right-radius: var(--popup-border-radius);

        transition:
            background-color var(--transition-speed) var(--transition-easing),
            visibility var(--transition-speed)
        ;
    }

    .color-box.editable .outer {
        cursor: pointer;
    }

    .color-box.editable.edit .outer.for-popup {
        visibility: visible;

        background-color: var(--popup-background-color);
    }

    .inner {
        --red: 0;
        --green: 0;
        --blue: 0;

        width: var(--color-box--size);
        height: var(--color-box--size);

        background-color: rgb(var(--red), var(--green), var(--blue));

        border-width: var(--color-box--border-width);
        border-style: solid;
        border-radius: 3px;

        transition:
            border-color var(--transition-speed),
            opacity var(--transition-speed),
        ;

        &:not(.for-popup) {
            border-color: transparent;
        }
    }

    .color-box.editable .inner:hover {
        border-color: white;
    }

    .inner.for-popup {
        opacity: 0;
    }

    .color-box.editable.edit .inner.for-popup {
        opacity: 1;
        border-color: white;
    }
</style>
