<script lang="ts">
    import { Color } from '../util/color';
    import ColorBox from './ColorBox.svelte';
    import { tick } from 'svelte';

    export let colors: Color[] = [];

    let _colorBoxes: ColorBox[] = [];
    $: colorBoxes = _colorBoxes.filter(Boolean);

    export async function add(color: Color = new Color(), startEdit: boolean = true) {
        colors = [ ...colors, color ];
        if (startEdit) {
            await tick();
            colorBoxes[colorBoxes.length - 1].startEdit();
        }
    }
</script>

<ul>
    {#each colors as color, i}
        <li>
            <ColorBox
                bind:this={_colorBoxes[i]}
                color={color}
                editable
                on:update={() => color = color}
            />
        </li>
    {/each}
    <li>
        <button class="add-new" on:click={() => add()}>+</button>
    </li>
</ul>

<style lang=scss>
    ul {
        display: flex;
        gap: 10px;
    }

    button.add-new {
        width: calc(var(--color-box--size) + 2 * var(--color-box--border-width));
        height: calc(var(--color-box--size) + 2 * var(--color-box--border-width));

        font-size: 1.8em;

        line-height: 0;
    }
</style>
