<script lang="ts">
    import { fly } from 'svelte/transition';
    import { createEventDispatcher, tick } from 'svelte';
    import { clickOutside } from '../use/click_outside';

    export let getTarget: Function|null = null;
    export let gap: number = 0;
    export let visible = false;

    export function open() {
        visible = true;
    }

    export function close() {
        visible = false;
        dispatcher('close');
    }

    let target: HTMLElement;
    let dispatcher = createEventDispatcher();
    let div: HTMLElement;

    $: if (visible) {
        updatePosition();
    }

    async function updatePosition() {
        await tick();
        if (typeof getTarget === 'function') {
            target = getTarget();
        }
        if (!div || !target) {
            return;
        }
        const rect = target.getBoundingClientRect();
        const top = rect.bottom + gap;
        const left = rect.left + gap;
        div.style.top = `${top}px`;
        div.style.left = `${left}px`;
    }
</script>

{#if visible }
    <div
        bind:this={div}
        class="popup"
        transition:fly={{ duration: 400, y: -gap, x: -gap }}
        use:clickOutside
        on:outclick={close}
    >
        <slot></slot>
    </div>
{/if}

<style>
    :global(:root) {
        --popup-background-color: #444;
        --popup-border-radius: 6px;
    }

    div {
        position: absolute;
        padding: 0.5em;
        background-color: var(--popup-background-color);
        border-color: #888;
        border-radius: var(--popup-border-radius);
    }
</style>
