<script lang="ts">
    import { onMount } from 'svelte';

    export let value: string;
    export let selectOnFocus: boolean = false;
    export let valid: boolean = true;
    export let style = '';

    let input;

    onMount(() => {
        if (selectOnFocus) {
            input.addEventListener('focus', () => input.select())
        }
    });
</script>

<input type=text
    class:invalid={!valid}
    bind:this={input}
    bind:value
    style={style}
    on:input />
