<script lang="ts">
    import Palette from './component/Palette.svelte';
    import { onMount } from 'svelte';
    import { Color } from './util/color';

    let palette;
    let palette2;

    onMount(() => {
        let color = new Color(80, 150, 50);

        palette.add(new Color(50, 80, 150), false);
        palette.add(color, false);
        palette.add(color, false);
        palette.add(new Color(150, 80, 50), false);

        palette2.add(new Color(200, 0, 50), false);
        palette2.add(color, false);
        palette2.add(new Color(50, 80, 50), false);
    });
</script>

<main>
    <Palette bind:this={palette} />
    <Palette bind:this={palette2} />
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 40px;
    }
</style>
